<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-info"><p><span class="label label-success">Info</span>
           This is a really simple demo app. If you have any questions you can always
           contact me via Github.</p>
        </div>
        <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
        <h5>Table of Contents</h5><hr class="no-margin">
        <ul class="list-unstyled">
            <li>
                <a href="#/">
                    <span class="fa fa-angle-double-right text-primary"></span>Introduction
                </a>
            </li>
            <li>
                <a href="#/kmeans">
                    <span class="fa fa-angle-double-right text-primary"></span>K-Means Clustering
                </a>
            </li>
            <li>
                <a href="mailto:trey@treyreynolds.com" target="_blank">
                    <span class="fa fa-angle-double-right text-primary"></span>Contact Me
                </a>
            </li>
        </ul>
    </div>

    <a class="btn btn-success" target="_blank" href="http://www.github.com/treyreynolds" role="button">More from Trey on Github <span class="fa fa-angle-double-right text-primary"></span></a>

  </div>
</div>