<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-info"><p><span class="label label-success">Info</span>
           Please select a repository and commit from the list to deploy.</p>
        </div>
        <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
    </div>

  </div>
</div>