var config = {};

// NOTE: AWS user/secret credentials must be  stored in the standard
// ~/.aws/credentials file. We will use the [default] user in that file.
config.aws = {
    EC2Region: 'us-east-1'
    instanceSize: 't2.micro'
};

// Postgres connection details
config.postgres = {
    username: '[USERNAME]',
    password: '[PASSWORD]',
    database: '[DATABASE]',
    hostname: '[HOSTNAME]',
    port: '[PORT]'
};

// Github credentials
config.github = {
    username: '[USERNAME]',
    password: '[PASSWORD]'
};

// Deployment Repository
config.deploymentRepo = {
  owner: '[OWNER]',
  repo: '[REPO]',
};

// Maximum running instances
config.maxRunningInstances = 4;

config.cookieMaxAge = 30 * 24 * 3600 * 1000;

module.exports = config;