<div class="row">
  <div class="col-sm-3">
    {{> sidebar}}
  </div>
  <div class="col-sm-9">
     {{#each servers}}
      <div class="col-md-3">
          <div class="panel text-center panel-default panel-{{this.state}}">
            <div class="panel-heading">{{this.instance_id}}</div>
            <div class="panel-body text-left server">
              <div class="row stats">
                <div class="col-xs-12">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="badge">Moments</span>
                      <small class='text-muted'>Updated</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer text-info">{{this.state}}</div>
          </div>
        </div>
      {{/each}}
  </div>
</div>
