<div class="row">
  <div class="col-sm-3">
    {{> sidebar}}
  </div>
  <div class="col-sm-9">
     {{#each servers}}
        <h1>{{this.instance_id}} - {{this.state}} - {{this.last_updated}}</h1>
      {{/each}}
  </div>
</div>
