<div class="row">
  <div class="col-sm-3">
    <div ng-include="'/js/app/sidebar.html'"></div>
  </div>
  <div class="col-sm-9">
    <div class="jumbotron">
      <h1>Trey's Tech Demo</h1>
      <p>I created this demo to show a variety of technologies and how they fit together.
      This should serve as a good way to look at data-centric algorithm as well.
      </p>
      <p>
        <a class="btn btn-primary" target="_blank" href="#/kmeans" role="button">View K-Means Clustering Demo <span class="fa fa-angle-double-right text-info"></span></a>
      </p>
    </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary technology-list">
        <div class="panel-heading">Built With</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">v5.10.1</span>
                  <em class="icon-nodejs"></em>
                  Node.JS
                </li>
                <li class="list-group-item">
                  <span class="badge">v4.13.4</span>
                  <em class="icon-express"></em>
                  Express
                </li>
                <li class="list-group-item">
                  <span class="badge">v2.1.10</span>
                  <em class="icon-mongodb"></em>
                  MongoDB
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">v1.4.5</span>
                  <em class="icon-angular"></em>
                  AngularJS
                </li>
                <li class="list-group-item">
                  <span class="badge">v3.3.4</span>
                  <em class="icon-bootstrap"></em>
                  Bootstrap
                </li>
                <li class="list-group-item">
                  <span class="badge">v0.3.2</span>
                  <i class="fa fa-users"></i>
                  PassportJS
                </li>
                
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">v1.11.2</span>
                  <em class="icon-jquery-alt"></em>
                  jQuery
                </li>
                <li class="list-group-item">
                  <span class="badge">v4.2.3</span>
                  <i class="fa fa-line-chart"></i>
                  High Charts
                </li>
                <li class="list-group-item">
                  <span class="badge">v0.1.2</span>
                  <i class="fa fa-qrcode"></i>
                  K-Means NPM
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
